.work {
  margin-bottom: 50px;
}
.schoolProject-container {
  height: 100%;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  border: 1px solid black;
  margin: 0 0 20px;
  position: relative;
}

.project img {
  height: 200px;
  width: 380px;
}

.project:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.overlay {
  height: 207px;
  background-color: #00000095;
  transition: background 0.5s;
  width: 380px;
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay h5 {
  color: #fff;
  font-weight: bold;
  transition: color 0.5s;
}

.overlay:hover {
  background-color: transparent;
  color: transparent;
}
.overlay:hover h5 {
  color: transparent;
}

.project-section:first-child{
  margin-top:25px;
}
.project-section{
  text-align:center;
  padding:30px 0;
  box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25);
}

.section-title {
  text-align: center;
  margin-top: 20px;
}

.slider {
  overflow-y: hidden;
  max-height: 250px; /* approximate max height */

  transition-property: all;
  transition-duration: 1.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider-start {
  max-height: 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .project img {
    height: 150px;
    width: 330px;
  }

  .overlay {
    display: none;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .project img {
    height: 150px;
    width: 330px;
  }

  .overlay {
    display: none;
  }
}
