.blog-post__container {
	max-width: 1000px;
	margin: 0 auto;
}

.blog-post__hero {
	margin: 0;
	max-width: 1160px;
}

.blog-post__hero img {
	width: 100%;
}

.blog-post__body {
	text-align: left;
}

.blog-post__gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.blog-post__gallery img {
	height: 300px;
}

.helpful-links {
  display: flex;
  flex-direction: column;
	justify-content: center;
	margin-top: 20px;
	height: 200px;
	border: 1px solid #888;
}

.back-link img {
	width: 10px;
}

.back-link p {
	margin: 0 0 0 5px;
	color: #2c2c2c;
	font-weight: 200;
}

.back-link {
	display: flex;
	align-items: center;
	position: absolute;
	top: 35px;
	left: 35px;
	text-decoration: none;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.back-link {
		display: none;
	}
	.blog-post__container {
		margin: 0 20px;
	}
	.blog-post__gallery img {
		max-width: 300px;
		overflow: hidden;
	}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	.blog-post__container {
		margin: 0 20px;
	}
}
