.profile-pic {
	height: 250px;
}

.about-container {
	max-width: 720px;
	width: 100%;
	margin: 0 auto;
	padding: 50px 0;
	font-weight: 300;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.about-container {
		max-width: 300px;
	}
}
