.appContainer {
  min-height: 50vh;
}

.heroContainer {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.hero {
  text-align: center;
}

.blurbContainer {
  width: 500px;
  margin: 0 auto;
  padding-top: 25px;
  text-align: center;
}