.contact-container {
  margin-bottom: 50px;
}

.contact-item:first-child{
  margin-top:25px;
}
.contact-item{
  text-align:center;
  padding:30px 50px 20px;
  margin:0 30%;
  box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .25);
  display: flex;
  justify-content: center;
}

.contact-item a {
  text-decoration: none;
  color: #2c2c2c;
  font-weight: bold;
}

.contact-item a:hover{
  color: #808080;
}

.contact-hero {
  display: flex;
  justify-content: center;
  position: relative;
}

.contact-hero img {
  height: 50vh;
}

.contact-hero h5 {
  position: absolute;
  bottom: 200px;
}

