.blog-title {
	text-align: center;
}

.blog-post {
	display: flex;
	flex-direction: column;
	max-width: 350px;
	width: 100%;
	text-align: left;
	margin: 10px;
	max-height: 425px;
}

.blog-post img {
	width: 350px;
	
}

.blog-post__img {
	height: 350px;
	overflow: hidden;
	animation: 1.2s ease-out 0s 1 slideInFromTop;
}

.blog-post:hover {
	transform: scale(1.009)
}

.blog-post__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.blog-post__container a {
	text-decoration: none;
	color: #000;
}

.blog-post__title {
	display: flex;
	margin: 0;
	justify-content: space-between;
	align-items: center;
}

.blog-post__title h5 {
	margin: 0;
}

.loader-gif {
	padding: 20%;
}

.loader-gif__load {
	height: 100px;
	width: 100px;
}

.placeholder {
	height: 350px;
	width: 350px;
	background-color: grey;
}

@keyframes slideInFromTop {
	0% {
		height: 0;
	}
	100% {
		height: 350px;
	}
}

@keyframes fadein {
		0% { opacity: 0; }
		100% { opacity: 1; }
}